body {
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#canvas {
  background-color: grey;
  height: 500px;
  width: 500px;
  /* border: 2px solid black; */
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 8px 16px 0 rgb(59, 88, 105, 0.2),
    0 6px 20px 0 rgb(68, 105, 128, 0.19);
}

#headline {
  color: lightskyblue;
  font-size: 18px;
  padding: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#buttons-container {
  display: flex;
  flex-direction: column;
}

#container1 {
  display: flex;
  margin: 10px;
}

.squares {
  background-color: white;
  /* border: 1px solid yellow; */
  /* width: 5px;
  height: 5px; */
  /* flex-grow: 1; */
  /* flex-wrap: wrap; */
}

.color-to-black {
  background-color: black;
}

.square-to-orange {
  background-color: orange;
}

button {
  border-radius: 15px;
  width: 180px;
  border: 1px solid black;
  background-color: lightskyblue;
  font-size: 16px;
  padding: 15px 30px;
  margin: 5px;
}
